:root {
  font-family: 'Tossface', -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo',
    'Pretendard', 'Roboto', 'Noto Sans KR', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #191F28;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FFFFFF;
  -webkit-touch-callout: none;
  touch-action: manipulation;
  padding-bottom: env(safe-area-inset-bottom);
}

#root {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  min-height: 100vh;
}
